<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
<title> <%= yield (:title) || "Shakespeare's Monologues" %> </title>


  <%= stylesheet_link_tag "monologues" %>
  <%= javascript_include_tag :defaults, 'jquery'%>
  <script type="text/javascript">
    jQuery.noConflict()
  </script>



<meta NAME="Description" CONTENT="A complete database of Shakespeare's Monologues. All of them. The monologues are organized by play, then categorized by comedy, history and tragedy. You can browse and/or search so you can find a monologue whether you know which one you want, or you're looking for monologue ideas. Each monologue entry includes the character's name, the first line of the speech, whether it is verse or prose, and shows the act, scene & line number. Each entry provides a link to the full text of the scene. You can download each monologue for printing, already double-spaced for scansion and transcription."> 

<META NAME="verify-v1" CONTENT="43Tfyc84pBq4LxJ6S3NHue3NJt2M+oKCcoiN41SEKB8="/>

<meta NAME="KEYWORDS" CONTENT="William Shakespeare, shakespeare, monologues, shakespeare monologues, shakespeare's monologues, shakespearean, monologue, speech, speeches, soliloquy, soliloquies, database, find, search, browse, index, quotes, quotations, Comedies, Histories, Tragedies, A Midsummer Night's Dream, All's Well That Ends Well, As You Like It, Cymbeline, Love's Labour's Lost, Measure for Measure, Merry Wives of Windsor, Much Ado About Nothing, Pericles, Prince of Tyre, The Comedy of Errors, The Merchant of Venice, The Taming of the Shrew, The Tempest, The Winter's Tale, Troilus and Cressida, Twelfth Night Or What You Will, 12th Night, TWelfth Night, Two Gentlemen of Verona, Henry IV i, Henry IV ii, Henry V, Henry VI i, Henry VI ii, Henry VI iii, Henry VIII, King John, Richard II, Richard III, Antony & Cleopatra, Coriolanus, Hamlet, Julius Caesar, King Lear, Macbeth, Othello, Romeo and Juliet, Timon of Athens, Titus Andronicus"/>

  <script type="text/javascript">
    // set focus on search box
    ( function($) {
      $(document).ready(
        function(){
          $('#search').focus();
        }
      );
    }) ( jQuery );
  </script>
<!-- Start G+ +1 button stuff -->
<link rel="canonical" href="http://www.shakespeare-monologues.org/" />
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
    </script>
<!-- End G+ +1 button stuff -->
<meta property="og:title" content="Shakespeare's Monologues" />
<meta property="og:description" content="Making it easier to find monologues since 1997. 
Built for actors. Used by everyone." />
<meta property="og:image" content="http://www.shakespeare-monologues.org/images/foliocover.gif" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-600620-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>

<body id="main">

<table id="layout">
<tr>
<td id="left_column">
  <div id="menu_top_left">
    <%= link_to '[The Men]', '/men' %> <%= link_to '[The Women]', '/women' %> <%= link_to '[Both]', '/plays' %> <br/>
    <a HREF="http://shakespeare-monologues.org/store/index.html">[Books]</a>
    <a HREF="http://twitter.com/ShakesMonos" target="_blank">[Twitter]</a>
    <a href="https://www.facebook.com/ShakespearesMonologues" target="_blank">[FB]</a>
    <a href="https://plus.google.com/106045313819632308693/posts" target="_blank">[G+]</a>
  </div>

  <!-- left column ads -->
  <div id="left_column_ads">
<p>&nbsp;</p>
    <script type="text/javascript"><!--
      google_ad_client = "pub-5236095389905910";
      /* leftcol1 */
      google_ad_slot = "3862062942";
      google_ad_width = 120;
      google_ad_height = 90;
      //-->
    </script>
    <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
    <script type="text/javascript"><!--
      google_ad_client = "pub-5236095389905910";
      /* leftcol2 */
      google_ad_slot = "8729942714";
      google_ad_width = 120;
      google_ad_height = 600;
    //-->
    </script>
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
  </div>
</td>

<td id="center_column">


  <div id="center_column_content">
    <div style="color: green"><%= flash[:notice] %></div>
    <!-- render the view here -->
    <%= yield :layout%>
  </div>

<!-- this here is the footer -->

  <div id="center_column_footer">
    <div id="menu_bottom_center">

      <%= link_to '[The Men]', '/men' %>&nbsp;
      <%= link_to '[The Women]', '/women' %>&nbsp;
       <%= link_to '[Search All]', '/plays' %>&nbsp;
<br/>
      <a HREF="http://shakespeare-monologues.org/store/index.html">[Books]</a>&nbsp;
      <a HREF="http://twitter.com/ShakesMonos" target="_blank">[Twitter]</a>&nbsp;
<a href="https://www.facebook.com/ShakespearesMonologues" target="_blank">[FB]</a>&nbsp;
<a href="https://plus.google.com/106045313819632308693/posts" target="_blank">[G+]</a><br/>
  <%= link_to '[FAQ]', '/faq.html' %>&nbsp;
      <%= link_to '[About]', '/about.html' %>
      <a HREF="http://shults.org/shakes/contact.php">[Contact]</a>
    </div>
<br>
      <!-- SiteSearch Google -->
<form action="http://www.google.com/cse" id="cse-search-box" target="_blank">
  <div>
    <input type="hidden" name="cx" value="partner-pub-5236095389905910:0905950967" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" size="30" />
    <input type="submit" name="sa" value="Search" />
  </div>
</form>

<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>

      <!-- End SiteSearch Google -->

<font face="verdana" size="-2">Friends don't let friends use IE</font><br>
<a href="http://www.spreadfirefox.com/?q=affiliates&amp;id=70961&amp;t=62" target="_blank"><img alt="Get Firefox!" title="Get Firefox!" src="http://sfx-images.mozilla.org/affiliates/Buttons/110x32/take.gif" border="0" align="top"></a>
&nbsp;&nbsp;
<a href="http://www.google.com/chrome" target="_blank"><img src="http://shakespeare-monologues.org//img/chrome_logo.gif" alt="Download Chrome" title="Download Chrome" border="0" align="absmiddle"></a>

    </div>
  </div>

<!-- end center column -->
</td>

<td id="right_column">
  <%= render :partial => 'shared/tip_jar.html' %>

  <br/>

  <p>
  <script type="text/javascript"><!--
    google_ad_client = "pub-5236095389905910";
    google_ad_width = 300;
    google_ad_height = 250;
    google_ad_format = "300x250_as";
    google_ad_type = "text_image";
    google_ad_channel = "9016325956";
    google_color_border = "F9F9DF";
    google_color_bg = "F9F9DF";
    google_color_link = "696969";
    google_color_text = "000000";
    google_color_url = "696969";
    //-->
  </script>
  <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
  </p>

<script type="text/javascript"><!--
google_ad_client = "ca-pub-5236095389905910";
/* rightcoltext */
google_ad_slot = "9566106364";
google_ad_width = 120;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>


</td>
<!-- end right column -->

</tr>
</table>


</body>
</html>
